/downloads/stitch/content_home_page.html
/downloads/stitch/page_1.html
/downloads/stitch/page_2.html
/downloads/stitch/page_home.html
/downloads/stitch/page_1.png
/downloads/stitch/page_2.png
/downloads/stitch/page_home.png